<div class="login">
  <div class="d-flex align-items-center" style="min-height: 100vh">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto" style="min-width: 300px">
      <div class="text-center mt-5 mb-1">
        <div class="avatar avatar-lg">
          <img
            src="assets/images/logo/primary.svg"
            class="avatar-img rounded-circle"
            alt="LearnPlus"
          />
        </div>
      </div>
      <div class="d-flex justify-content-center mb-5 navbar-light">
        <a routerLink="/signin" class="navbar-brand m-0">DiscoG Academy</a>
      </div>
      <div class="card navbar-shadow">
        <div class="card-header text-center">
          <h4 class="card-title">Login</h4>
          <p class="card-subtitle">Access your account</p>
        </div>
        <div class="card-body">
          <a href="" class="btn btn-light btn-block">
            <span class="fab fa-google mr-2"></span>
            Continue with Google
          </a>

          <div class="page-separator">
            <div class="page-separator__text">or</div>
          </div>

          <form
            method="post"
            [formGroup]="signInForm"
            (ngSubmit)="signinUser(signInForm.value)"
          >
            <div class="form-group">
              <label class="form-label">Your email address:</label>
              <div class="input-group input-group-merge">
                <input
                  type="email"
                  formControlName="email"
                  class="form-control form-control-prepended"
                  placeholder="Your email address"
                />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="far fa-envelope"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Your password:</label>
              <div class="input-group input-group-merge">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control form-control-prepended"
                  placeholder="Your password"
                />
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <span class="fa fa-lock"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </div>
            <div class="text-center">
              <a
                routerLink="forgot-password"
                class="text-black-70"
                style="text-decoration: underline"
              >Forgot Password?</a
              >
            </div>
          </form>
        </div>
        <div class="card-footer text-center text-black-50">
          Not yet a student? <a href="">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</div>
